<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/product.css" />
<body>
  <%-include('../includes/navigation.ejs')%>

  <main class="animated fadeIn">
    <h1>My Products</h1>
    <p>List of the all Products</p>
    <% if(prods.length>0) {%> <% for(let product of prods) {%>
    
      <div class="card">
      <header class="card__header">
        <h1 class="product_title"><%=product.title%></h1>
      </header>
      <img src=<%=product.imgURL%> style="width:100%; height:280px;" alt="Book Image">
      <div class="container">
        <h3 class="product_price"><%=product.price%></h3>
        <a href="/products/<%=product.id%>" class="add_to_cart_button">Details</a>
        <%-include('../includes/add-to-cart.ejs',{product:product})%>
      </div>
    </div>
    <%} %> <%} else {%>
    <h1>No Products Found!</h1>
    <% }%>
  </main>
  <%-include('../includes/end.ejs')%>
</body>
